# Metery Environment Variables

# Comma-separated list of API keys for bearer authentication.
API_KEYS=mtr_devkey_12345,mtr_admin_abcde

# Set to true, 1, or yes to automatically run database migrations on server start.
MIGRATE=true

# Uncomment and change if using Postgres
# DATABASE_URL=postgres://user:pass@localhost:5432/metery?sslmode=disable
